{% include 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="jumbotron">
        TODO TEXT AND DESIGN AFTER WE HAVE A NAME AND A LOGO + token should not expire in 15 min
        <br>
        For now click on this link to reset your password:
        <br>
        {{ resetPasswordLink }}
    </div>
</div>
{% endblock %}